body {
    background-color: #031D44;
    font-size: 16px;
}

main {
    width: 60%;
    margin: 0 auto;
}

p {
    font-size: 1.7em;
    color: white;
    text-align: center;
}
a {
    color: white;
    font-size: 1.3em;
}

a:hover {
    color: white;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
button {
    align-content: center;
}

html {
    scroll-behavior: smooth;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  