body {
    background-color: #031D44;
    font-size: 16px;
}

main {
    width: 60%;
    margin: 0 auto;
}

p {
    color: white;
    text-align: center;
    font-family: 'Dancing Script' cursive;
}
a {
    color: white;
}

a:hover {
    color: white;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
button {
    align-content: center;
}

html {
    scroll-behavior: smooth;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
 
@media (min-width: 576px) { 
    p {
        font-size: 0,4em;
    }
    a {
        font-size: 0,5em;
    }
}
@media (min-width: 768px) { 
    p {
        font-size: 1.2em;
    }
    a {
        font-size: 0,75em;
    }
 }

@media (min-width: 992px) { 
    p {
    font-size: 1.4em;
    } 
    a {
        font-size: 1,05em;
    }
}

@media (min-width: 1200px) { 
    p {
    font-size: 1.7em;
    } 
    a {
        font-size: 1,3em;
    }
}